/*
 * Dashicons mixin
 * use: @include dashicons( '\f140' );
 */
/*
 * Button mixin- creates 3d-ish button effect with correct 
 * highlights/shadows, based on a base color.
 */
#login h1 a {
  background-image: url(../../images/login-logo.png);
  width: 100%;
  background-size: auto; }
#login #backtoblog a:hover,
#login #nav a:hover {
  color: #0071BC; }

.wp-core-ui .button-primary {
  background: #0071BC;
  border: 0;
  box-shadow: none; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus {
    background: #0062a3;
    box-shadow: none; }

input[type=text]:focus,
input[type=password]:focus {
  border-color: #0071BC;
  box-shadow: 0 0 5px -1px #0071BC; }
