// Display
// ======================================= /
.show { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.hide-xs {
	@media (min-width: $screen-xs) {
		display: none !important;
	}
}
.hide-sm {
	@media (min-width: $screen-sm) {
		display: none !important;
	}
}
.hide-md {
	@media (min-width: $screen-md) {
		display: none !important;
	}
}
.hide-lg {
	@media (min-width: $screen-lg) {
		display: none !important;
	}
}
.show-xs, .show-sm, .show-md, .show-lg { display: none !important; }
.show-xs {
	@media (min-width: $screen-xs) {
		display: block !important;
	}
}
.show-sm {
	@media (min-width: $screen-sm) {
		display: block !important;
	}
}
.show-md {
	@media (min-width: $screen-md) {
		display: block !important;
	}
}
.show-lg {
	@media (min-width: $screen-lg) {
		display: block !important;
	}
}

// Layout
// ======================================= /
.width25 { width: 25%; }
.width33 { width: 33%; }
.width50 { width: 50%; }
.width66 { width: 66%; }
.width75 { width: 75%; }

.center-block {
  @include container;
  @include clearfix;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix {
  @include clearfix;
}

// Lists
// ======================================= /
.list-unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

// Style
// ======================================= /
a.no-decoration { text-decoration: none; }
