
/* Typography
 * ------------------------------------------ */

html {
	font-size: 100%;
}

body,
button,
input,
select,
textarea {
	color: $color_text_main;
	font-family: $font_main;
	font-size: rem(16);
	line-height: $leading;
	//-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
}

/* Headings
 * ------------------------------------------ */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: 0;
}
h1, .h1 {
	font-size: rem(34);
	line-height: rem(32);
	margin-top: $leading;
}
h2, .h2 {
	font-size: rem(30);
	line-height: rem(32);
	margin-top: $leading;
}
h3, .h3 {
	font-size: rem(20);
	line-height: rem(28);
	font-family: $font_main;
}
h4, .h4 {
	font-size: rem(14);
	line-height: rem(22);
	font-family: $font_heading;
}
h5, .h5 {
	font-size: 1rem;
	line-height: $leading;
}
h6, .h6 {
	font-size: 1rem;
	line-height: $leading;
}

/* Copy
 * ------------------------------------------ */

p {
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: 0;
}

ul, ol {
	margin: 0 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	line-height: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	color: $color_blockquote;
	font-size: 1.5rem;

	p {
		margin: 0;
	}
}

address {
	margin: $leading 0 0;
}

pre {
	background: $color_background_pre;
	font-family: $font_pre;
	font-size: rem(16);
	line-height: $font_line_height_pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font_code;
	font-weight: 900;
	font-size: 0.9em;
	color: $color_code;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	background-color: $color_background_hr;
	border: 0;
	height: 2px;
	margin: 2em 0;
	width: 100%;
}

small,
.small {
	font-size: 75%;
}

big,
.big {
	font-size: 125%;
}

.caps {
	text-transform: uppercase;
}

/* Hug the block above you */
.hug {
	margin-top: 0;
}
/* Create space */
.push {
	margin-top: $leading;
}
.push-double {
	margin-top: $leading * 2;
}
