// Structure
// ============================================ /
$max-width: rem(1000) !global;

$container_padding: 20px;

$sm: 500px;
$md: 768px;
$lg: 1000px;
$xl: 1500px;


// Colors
// ============================================ /
$color_text_main: #404040;
$color_text_heading: #202020;

$color_link: #0071BC;
$color_link_visited: tint($color_link, 10%);
$color_link_hover: darken($color_link, 10%);

$color_code: #0071BC;

$color_blockquote: #222;

$color_background_body: #fff;
$color_background_hr: #ccc;
$color_background_button: #e6e6e6;
$color_background_pre: #eee;

$color_border_button: #ccc #ccc #bbb;
$color_border_button_hover: #ccc #bbb #aaa;
$color_border_button_focus: #aaa #bbb #bbb;

$color_background_selection: lightblue;
$color_selection_text: $color_text_main;

$color_border_input: #ccc;
$color_border_input_hover: #ccc;
$color_border_input_focus: #ccc;

$color_text_input: #666;
$color_text_input_hover: #111;
$color_text_input_focus: #111;

$color_text_muted: #aaa;


// Typography
// ============================================ /
$font_main: "Arnhem Pro", "Georgia", serif;
$font_heading: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font_code: "Menlo", monospace;
$font_pre: "Menlo", monospace;
$leading: 1.5rem;
$font_line_height_pre: 1.6rem;


// Tables
// ============================================ /
$table_bg: transparent;
$table-bg-accent: #fafafa;
$table-bg-hover: #eee;
$table_bg_nested: transparent;
$table-cell-padding: 5px;
$line-height-base: 1em;
$table-border-color: #DDD;
$table-condensed-cell-padding: 5px;
